<p><head>
<title>dark dimension</title>
<link rel="stylesheet" href="style.css"/>
<link rel="shortcut icon" href="favicon.ico">
</head></p>

<p><img src="logo.png" style="width: 100px;"/></p>

<h2>dark dimension</h2>

<h4><a href="index.html">home</a> | <a href="games.html">games</a> | <a href="comics.html">comics</a> | <a href="sounds.html">sounds</a> | <a href="contact.html">contact</a> | <a href="bloopers.html">bloopers</a> | <a href="projects.html">memories</a></h4>

<hr />

<h2>checkers error</h2>

<p><img src="https://i.imgur.com/1CQe7TA.png" style="width:400px"/></p>

<p>i was experimenting with giving different colors to each vertex.
then i decided to edit the colors to give some sort of &ldquo;fake lighting&rdquo; on them. one thing led to another,
and when i compiled and run the game i got a checkers thingy! no that&rsquo;s not a texture!</p>

<p>2016.04.03</p>

<hr />

<h2>undefined behaviour</h2>

<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/QxkwhkOYOoo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->


<p><video width="400" autoplay loop muted>
<source src="https://s1.webmshare.com/KwL9r.webm" type="video/webm"></source>
browser has no video tag
</video></p>

<p>here i was trying to make a font. but i did something wrong (with pointers obviously) which
brought some undefined behavior. i&rsquo;m not sure why visually it&rsquo;s behaving like this, but i loved it!</p>

<p>2016.04.03</p>

<hr />

<h2>manual matrix rotation</h2>

<p><video width="400" autoplay loop muted>
<source src="https://s1.webmshare.com/5EQ5B.webm" type="video/webm"></source>
browser has no video tag
</video></p>

<p>my inner perfectionist wanted to do matrix rotation manually (just so I could understand what is happening).
i learned how to do euler&rsquo;s rotation for 1 axis. tried to study quaternions. gave up (for now).
then a wild idea came, &ldquo;why not use euler&rsquo;s rotation on multiple axis?&rdquo;. well, the result is what happened on the video.
at least my curiosity is satisfied.</p>

<p>2016.04.03</p>

<hr />

<h2>undefined shader colors</h2>

<p><video width="400" autoplay loop muted>
<source src="https://s1.webmshare.com/9Vd5D.webm" type="video/webm"></source>
browser has no video tag
</video></p>

<p>the only thing i did was to supply to the shaders (that expect colors) an uninitialized pointer.
i was expecting that it would be random colors (like in the video) but I thought it wouldn&rsquo;t change.</p>

<p>2016.04.03</p>

<hr />

<p><em>this is the home of dark dimension</em></p>
