<p><head>
<title>dark dimension</title>
<link rel="stylesheet" href="style.css"/>
<link rel="shortcut icon" href="favicon.ico">
</head></p>

<p><img src="logo.png" style="width: 100px;"/></p>

<h2>dark dimension</h2>

<h4><a href="index.html">home</a> | <a href="games.html">games</a> | <a href="comics.html">comics</a> | <a href="sounds.html">sounds</a> | <a href="contact.html">contact</a> | <a href="bloopers.html">bloopers</a> | <a href="projects.html">memories</a></h4>

<hr />

<h2>laughing veil</h2>

<p>hand-drawn | gimp | 2016.08</p>

<p><img src="http://s3.amazonaws.com/media.drunkduck.com/users/tomtsagk/comics/Laughing_Veil/web/WbKrmX4DjL.png" style="width:300px;"/></p>

<ul>
<li>chapter 1 - <a href="http://www.theduckwebcomics.com/Laughing_Veil/">theduckwebcomics.com</a></li>
</ul>


<hr />

<h2>just cause</h2>

<p><img src="https://tomtsagk.gitlab.io/just-cause/logo.png" alt="just-cause" /></p>

<p>this is a page i manage, it has one-page webcomics.</p>

<p><a href="https://tomtsagk.gitlab.io/just-cause">tomtsagk.gitlab.io/just-cause</a></p>

<hr />

<p><em>this is the home of dark dimension</em></p>
