<p><head>
<title>dark dimension</title>
<link rel="stylesheet" href="style.css"/>
<link rel="shortcut icon" href="favicon.ico">
</head></p>

<p><img src="logo.png" style="width: 100px;"/></p>

<h2>dark dimension</h2>

<h4><a href="index.html">home</a> | <a href="games.html">games</a> | <a href="comics.html">comics</a> | <a href="sounds.html">sounds</a> | <a href="contact.html">contact</a> | <a href="bloopers.html">bloopers</a> | <a href="projects.html">memories</a></h4>

<hr />

<p><img id="icon" src="
https://i.stack.imgur.com/VISos.png?s=328&g=1
"/></p>

<h2>Tom Tsagk</h2>

<p>location: Royal Leamington Spa, UK<br>
e-mail: tomtsagk@gmail.com<br>
pgp key: <a href="https://keyserver.pgp.com/vkd/DownloadKey.event?keyid=0x88CB94B0ECAD5E51">0x88CB94B0ECAD5E51</a><br>
gitlab: <a href="https://gitlab.com/tomtsagk/">tomtsagk</a><br></p>

<p><a href="https://stackexchange.com/users/3568134">
<img src="https://stackexchange.com/users/flair/3568134.png" width="208" height="58" alt="profile for TomTsagk on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for TomTsagk on Stack Exchange, a network of free, community-driven Q&amp;A sites">
</a></p>

<hr />

<p><em>this is the home of dark dimension</em></p>
