<p><head>
<title>dark dimension</title>
<link rel="stylesheet" href="style.css"/>
<link rel="shortcut icon" href="favicon.ico">
</head></p>

<p><img src="logo.png" style="width: 100px;"/></p>

<h2>dark dimension</h2>

<h4><a href="index.html">home</a> | <a href="games.html">games</a> | <a href="comics.html">comics</a> | <a href="sounds.html">sounds</a> | <a href="contact.html">contact</a> | <a href="bloopers.html">bloopers</a> | <a href="projects.html">memories</a></h4>

<hr />

<h2>the collector</h2>

<p>web | mouse/touch | javascript/pixijs | 28.01.2018</p>

<p><img id="icon" src="https://i.imgur.com/C7QT7pr.png"/></p>

<p>small idle-like game.
the game was completed in about 7 days in order to practise my javascript and pixijs skills.</p>

<p><a href="https://t0mkun.itch.io/the-collector">itch.io</a></p>

<hr />

<h2>dargite3d</h2>

<p>linux | keyboard | C++/OpenGL | 16.03.2016
| dependencies: opengl, freeglut, glew</p>

<p><img id="icon" src="https://lh5.ggpht.com/HGVRkxe7z53CWUmzhqDkAknlD_4-ymE4hqx8BYCZLv0m32f8teCeXRY9VXDN-_rkDw=w300"/></p>

<p>pong clone. pick from 12 available characters,
and some available stages. moddable enough to allow adding new characters,
and new stages.</p>

<p><a href="https://gitlab.com/tomtsagk/dargite3d">gitlab</a>
| <a href="https://aur.archlinux.org/packages/dargite3d">aur</a></p>

<hr />

<h2>blemish</h2>

<p>android | java (android) | 8.11.2015</p>

<p><img id="icon" src="https://lh3.googleusercontent.com/T1DeHhzsCm7K99y4bFKBZ1snwi2jzniLtv3EDbJYBafxWcAmJ3vWyEMFs0GuuCfM1A=w300"/></p>

<p>puzzle game containing 27 different puzzles of increasing difficulty.
includes a random mode for extra fun. the game is made in such a way
that makes the user explore the game to understand how it works.</p>

<p><a href="https://play.google.com/store/apps/details?id=com.darkdimension.blemish">google play store</a></p>

<hr />

<h2>ritle</h2>

<p>android | java (android) | 15.09.2014</p>

<p><img id="icon" src="https://lh5.ggpht.com/6puVdXW2JY9ZkEIUXqf5TUaFBvK1YGP0PAajBMzD1GIQ2b2mbL-_HYMr420YWC57DqE=w300"/></p>

<p>infinite runner. jump at the right time in order to avoid obstacles, and
collect the right items for the best score.</p>

<p><a href="https://play.google.com/store/apps/details?id=com.darkdimension.ritle_run">google play store</a></p>

<hr />

<h2>dargite</h2>

<p>android | java (android) | 08.10.2014</p>

<p><img id="icon" src="
https://lh5.ggpht.com/HGVRkxe7z53CWUmzhqDkAknlD_4-ymE4hqx8BYCZLv0m32f8teCeXRY9VXDN-_rkDw=w300
"/></p>

<p>2d pong clone. select from 12 characters with different abilities. supports game controllers
and multiplayer on the same device.</p>

<p><a href="https://play.google.com/store/apps/details?id=com.darkdimension.dargite_new">google play store</a></p>

<hr />

<h2>town wars</h2>

<p>android | java (android) | 29.05.2014</p>

<p><img id="icon" src="
https://lh5.ggpht.com/xRZT36p8owz1ss1piZZoUDnuBTxvvJCHocMxnAoPTrewsEIi6NE6daT-5bVfZULSBdw6=w300-rw
"/></p>

<p>keep attacking the enemy&rsquo;s field until you destroy all their structures.
each character has different structure formation, which you can use as clues of where to attack next.
play against a friend on the same device is available.</p>

<p><a href="https://play.google.com/store/apps/details?id=com.darkdimension.town_wars">google play store</a></p>

<hr />

<h2>yarn chase</h2>

<p>android | java (android) | 06.05.2014</p>

<p><img id="icon" src="
https://lh3.ggpht.com/GaF1-MD7KSPh9rhX2euqdnHfK9TCue_utBvO9HZrsTdSvI7Htgja9qfsC7DAsQ3leNo=w300-rw
"/></p>

<p>launcher-type game.
throw the yarn and let the cat chase it.
earn money and buy upgrades to launch further next time.</p>

<p><a href="https://play.google.com/store/apps/details?id=com.darkdimension.yarn_chase">google play store</a></p>

<hr />

<h2>laughing veil</h2>

<p>android | java (android) | 13.01.2014</p>

<p><img id="icon" src="
https://lh4.ggpht.com/4af9n6cv2prV1DDL5QcRQWE53XhZBUc1fs_Wg2Ptk8JyhEVUHEtMUwj6r8UZGDuoJKM2=w300-rw
"/></p>

<p>text-based role playing fantasy game.
you live in a world where magic is real.
you accidentaly earn magic powers, and have to survive in a magic-hating city.</p>

<p><a href="https://play.google.com/store/apps/details?id=com.darkdimension.laughingveil">google play store</a></p>

<hr />

<p><em>this is the home of dark dimension</em></p>
