<p><head>
<title>dark dimension</title>
<link rel="stylesheet" href="style.css"/>
<link rel="shortcut icon" href="favicon.ico">
</head></p>

<p><img src="logo.png" style="width: 100px;"/></p>

<h2>dark dimension</h2>

<h4><a href="index.html">home</a> | <a href="games.html">games</a> | <a href="comics.html">comics</a> | <a href="sounds.html">sounds</a> | <a href="contact.html">contact</a> | <a href="bloopers.html">bloopers</a> | <a href="projects.html">memories</a></h4>

<hr />

<h2>software rasterizer with perspective project</h2>

<p><img src="https://media.giphy.com/media/ctg6cNLm1se98hITFh/giphy.gif" style="width:400px;"/></p>

<p>just completed the most important part of a software rasterizer: perspective projection.
from a 3d point in cartesian coordinates, to a 2d pixel on the screen. this gif shows
this but using only ascii characters instead of actual colors.</p>

<p>2018.04.09 - Mon 21:31</p>

<hr />

<h2>happy king song</h2>

<p>new piano song made on musescore.
parts of it are used on the video game &ldquo;the collector&rdquo;</p>

<h2>the collector</h2>

<p>small idle-like web video game made with javascript and pixijs.
you can play the game on <a href="https://t0mkun.itch.io/the-collector">itch.io</a>.</p>

<p>2018.01.28 - Sun 15:01</p>

<hr />

<h2>clumsy engine</h2>

<p>small engine with its own scripting language.
this is an attepmt to speed up video game development,
but also be a little creative and think differently when it comes
to design.</p>

<p>2018.01.15 - Mon 05:16</p>

<hr />

<h2>new experiments</h2>


<p>experimenting with a custom rasterizer.</p>


<p><img src="https://media.giphy.com/media/3ogsjMCssa5tf1hXYA/source.gif" style="width:400px"/></p>

<p>this is a software rasterizer, not working with gpu yet. the current gif runs with ncurses</p>


<p>2017.03.01 - Wed 22:26</p>

<hr />

<h2>ddt - what does this tool do?</h2>

<p>so, i&rsquo;m working on a C library called &lsquo;deedee tools&rsquo;.
these tools are focused on platform-agnostic video game programming
and minimalism. i had an interesting idea to do that, and i&rsquo;m still
working on it. so far, so good.</p>

<p>2016.09.28 - Wed 11:44</p>

<hr />

<h2>graphics experimenting for future games</h2>

<p><img src="https://i.imgur.com/p29fRWT.png" style="width:400px"/></p>

<p>after messing around with manipulating graphics
on a very low level, i created a fun effect where the colors of the
vertices of an object are automatically colors to look like they have lighting.
although it is static, it&rsquo;s quite interesting to watch</p>

<p>2016.03.24 - Thu 06:15</p>

<hr />

<p><em>this is the home of dark dimension</em></p>
