<p><head>
<title>dark dimension</title>
<link rel="stylesheet" href="style.css"/>
<link rel="shortcut icon" href="favicon.ico">
</head></p>

<p><img src="logo.png" style="width: 100px;"/></p>

<h2>dark dimension</h2>

<h4><a href="index.html">home</a> | <a href="games.html">games</a> | <a href="comics.html">comics</a> | <a href="sounds.html">sounds</a> | <a href="contact.html">contact</a> | <a href="bloopers.html">bloopers</a> | <a href="projects.html">memories</a></h4>

<hr />

<h2>avgdl (ex Clumsy Engine)</h2>

<p>01.2018 - now | perl/python |
<a href="https://gitlab.com/tomtsagk/avgdl">gitlab</a></p>

<p>an interesting concept for a video game engine
the aim is to make video games spending as little time as possible.</p>

<hr />

<h2>inactive projects:</h2>

<!--
<input type="checkbox" id="chk">
<p> haha </p>
<label for="chk">uuuh</label> 
-->


<hr />

<h2>interpret world project</h2>

<p>04.2017 - 07.2017 | C program | unfinished</p>

<p>my new project to make the development of a video game even faster and easier.
the project has been abandoned, however it formed the bases for the
clumsy engine project.</p>

<hr />

<h2>ddt - deedee tools</h2>

<p>06.2016 - 2017 | C library | alpha</p>

<p>tools to aid in game development. the aim of these tools is to add an abstract
layer at drawing graphics, in such a way that it would be possible for a game
to be made once and compile everywhere (even on devices/platforms that do not
exist yet). it also includes a custom rasterizer, in order to allow 3d graphics
even on devices that do not support it. (so far it&rsquo;s only on a software level).</p>

<hr />

<h2>byte world project</h2>

<p>02.2017 - 04.2017</p>

<p>a project to create 3d graphics, while avoiding floats. although
 I&rsquo;m mainly making this to practise the math behing rasterization,
my aim with this project is to make &ldquo;lightweight&rdquo; 3d graphics,
that can run even on a software level. obviously a game without floats has
lots of limitations (especially on rotations) but I find it creative</p>

<p><strong>update</strong>: this project has been fused with ddt and is no longer active</p>

<hr />

<h2>dark dimension launcher</h2>

<p>01.2015 - 08.2015 | android launcher |
<a href="https://play.google.com/store/apps/details?id=com.darkdimension.darkdimensionlauncher">google play</a></p>

<p><img src="
https://lh3.googleusercontent.com/saDOZHnE02vMcczWAx-j25aNQ8KwxwXKibapH9TIrK6-IjBG4nW9SrAat_LYrj8UuDw=w300
" style="width:150px;"/></p>

<p>android launcher, focused on launching apps fast and with little power consumption.
very small in size, and unique project.</p>

<p><strong>update</strong>: project has been abandoned, there are a few bugs, but the launcher kinda works</p>

<hr />

<h2>tta - text to animation</h2>

<p>03.2016 - 03.2016 | C program | unfinished</p>

<p>project to create animations using text. the logic is that you describe in a file how
objects animate inside a scene, and the program renders it.</p>

<p><strong>update</strong>: the project is left unfinished. i might continue it sometime later.</p>

<hr />

<p><em>this is the home of dark dimension</em></p>
