<p><head>
<title>dark dimension</title>
<link rel="stylesheet" href="style.css"/>
<link rel="shortcut icon" href="favicon.ico">
</head></p>

<p><img src="logo.png" style="width: 100px;"/></p>

<h2>dark dimension</h2>

<h4><a href="index.html">home</a> | <a href="games.html">games</a> | <a href="comics.html">comics</a> | <a href="sounds.html">sounds</a> | <a href="contact.html">contact</a> | <a href="bloopers.html">bloopers</a> | <a href="projects.html">memories</a></h4>

<hr />

<h2>lies</h2>

<p>musescore | guitar, bass, drum | 01.04.2018</p>

<p><img id="icon" src="https://i1.sndcdn.com/artworks-000328245669-0144qp-t500x500.jpg"/></p>

<p><a href="https://soundcloud.com/tom-tsagk/lies">soundcloud</a></p>

<hr />

<h2>happy king</h2>

<p>musescore | piano | 28.01.2018</p>

<p><img id="icon" src="https://i1.sndcdn.com/artworks-000292086765-zbd7q3-t500x500.jpg"/></p>

<p><a href="https://soundcloud.com/tom-tsagk/happy-king">soundcloud</a></p>

<hr />

<p><em>this is the home of dark dimension</em></p>
